<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sign In - PixelAdmin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Open Sans font from Google CDN -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

    <!-- Pixel Admin's stylesheets -->
    <link href="<?php p_assets_url(); ?>/pixeladmin/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="<?php p_assets_url(); ?>/pixeladmin/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
    <link href="<?php p_assets_url(); ?>/pixeladmin/stylesheets/pages.min.css" rel="stylesheet" type="text/css">
    <link href="<?php p_assets_url(); ?>/pixeladmin/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
    <link href="<?php p_assets_url(); ?>/pixeladmin/stylesheets/themes.min.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <script src="<?php p_assets_url(); ?>/pixeladmin/javascripts/ie.min.js"></script>
    <![endif]-->


    <!-- $DEMO =========================================================================================

        Remove this section on production
    -->
    <style>
        #signin-demo {
            position: fixed;
            right: 0;
            bottom: 0;
            z-index: 10000;
            background: rgba(0,0,0,.6);
            padding: 6px;
            border-radius: 3px;
        }
        #signin-demo img { cursor: pointer; height: 40px; }
        #signin-demo img:hover { opacity: .5; }
        #signin-demo div {
            color: #fff;
            font-size: 10px;
            font-weight: 600;
            padding-bottom: 6px;
        }
    </style>
    <!-- / $DEMO -->

</head>


<!-- 1. $BODY ======================================================================================

	Body

	Classes:
	* 'theme-{THEME NAME}'
	* 'right-to-left'     - Sets text direction to right-to-left
-->
<body class="theme-dust page-signin">

<script>
    var init = [];
    init.push(function () {
        var $div = $('<div id="signin-demo" class="hidden-xs"><div>PAGE BACKGROUND</div></div>'),
            bgs  = [ '<?php p_assets_url(); ?>/pixeladmin/demo/signin-bg-1.jpg', '<?php p_assets_url(); ?>/pixeladmin/demo/signin-bg-2.jpg', '<?php p_assets_url(); ?>/pixeladmin/demo/signin-bg-3.jpg',
                '<?php p_assets_url(); ?>/pixeladmin/demo/signin-bg-4.jpg', '<?php p_assets_url(); ?>/pixeladmin/demo/signin-bg-5.jpg', '<?php p_assets_url(); ?>/pixeladmin/demo/signin-bg-6.jpg',
                '<?php p_assets_url(); ?>/pixeladmin/demo/signin-bg-7.jpg', '<?php p_assets_url(); ?>/pixeladmin/demo/signin-bg-8.jpg', '<?php p_assets_url(); ?>/pixeladmin/demo/signin-bg-9.jpg' ];
        for (var i=0, l=bgs.length; i < l; i++) $div.append($('<img src="' + bgs[i] + '">'));
        $div.find('img').click(function () {
            var img = new Image();
            img.onload = function () {
                $('#page-signin-bg > img').attr('src', img.src);
                $(window).resize();
            }
            img.src = $(this).attr('src');
        });
        $('body').append($div);
    });
</script>
<!-- Demo script -->
<!--<script src="<?php /*p_assets_url(); */?>/pixeladmin/demo/demo.js"></script>-->
<!-- / Demo script -->

<!-- Page background -->
<div id="page-signin-bg">
    <!-- Background overlay -->
    <div class="overlay"></div>
    <!-- Replace this with your bg image -->
    <img src="<?php p_assets_url(); ?>/pixeladmin/demo/signin-bg-2.jpg" alt="">
</div>
<!-- / Page background -->