<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dashboard - PixelAdmin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Open Sans font from Google CDN -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

    <!-- Pixel Admin's stylesheets -->
    <link href="<?php p_assets_url(); ?>/pixeladmin/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="<?php p_assets_url(); ?>/pixeladmin/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
    <link href="<?php p_assets_url(); ?>/pixeladmin/stylesheets/widgets.min.css" rel="stylesheet" type="text/css">
    <link href="<?php p_assets_url(); ?>/pixeladmin/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
    <link href="<?php p_assets_url(); ?>/pixeladmin/stylesheets/themes.min.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
    <!--<script type="javascript" src="<?php p_assets_url(); ?>/javascripts/ie.min.js"></script>-->

</head>


<!-- 1. $BODY ======================================================================================

	Body

	Classes:
	* 'theme-{THEME NAME}'
	* 'right-to-left'      - Sets text direction to right-to-left
	* 'main-menu-right'    - Places the main menu on the right side
	* 'no-main-menu'       - Hides the main menu
	* 'main-navbar-fixed'  - Fixes the main navigation
	* 'main-menu-fixed'    - Fixes the main menu
	* 'main-menu-animated' - Animate main menu
-->
<body class="theme-dust main-menu-animated">

<script>var init = [];</script>
<!--<script src="--><?php //p_assets_url(); ?><!--/pixeladmin/demo/demo.js"></script>-->
<div id="main-wrapper">